<html>
<head>
  <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>
  <!-- <form method="post" action="/action_page_post.php"> -->
  
    <div data-role="rangeslider">
      <label for="year_min">Годы публикации:</label>
      <input type="range" name="year_min" id="year_min" value="{{ request.GET.year_min }}" value="1920" min="0" max="2019">
      <label for="year_max">Годы публикации:</label>
      <input type="range" name="year_max" id="year_max" value="{{ request.GET.year_max }}" value="2000" min="0" max="2019">
    </div>

  <!-- </form> -->
</body>
</html>
