<html>
<head>
  <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>
  <form method="post" action="/action_page_post.php">
    <div data-role="rangeslider">
      <label for="price-min">Years of publication:</label>
      <input type="range" name="price-min" id="price-min" value="200" min="0" max="1000">
      <label for="price-max">Years of publication:</label>
      <input type="range" name="price-max" id="price-max" value="800" min="0" max="1000">
    </div>

  </form>
</body>
</html>
