{% extends "catalog/base_generic.html" %}

{% block title %}
  <title>Search</title>

  </script>

{% endblock %}

{% block content %}
  <div class="row">
  <div class="col-md-3">


    <form class="border p-3 bg-white" action="#" method="GET" autocomplete="off">
      <strong>Параметры поиска:</strong>
      <div class="form-group ">
        <label for="authors">Автор:</label></br>
        <input class="form-control" list="authors" id="author_name" name="author_name" >
          <datalist id="authors">
            <option value="">
            {% if authors %}
              {% for author in authors %}
                <option  value="{{ author.last_name }}">{{author}}</option>
              {% endfor %}
            {% else %}
              <option value="None">
            {% endif %}

          </datalist>
        </div>
        <div class="form-group">
          <label for="range">Диапазон годов выпуска:</label>
          <div id="range" class="" style="margin-top: 3em; margin-bottom: 1em" ></div>
          <div class="row mt-0">
            <small class="col text-left text-muted" id="range1"></small>
            <small class="col text-right text-muted" id="range2"></small>
          </div>

          <input id="startYear" name="startYear" type="hidden" value="{{ startYear }}" />
          <input id="endYear" name="endYear" type="hidden" value="{{ endYear }}" />

        </div>
        <script>
          var range = document.getElementById('range');

          noUiSlider.create(range, {
              range: {
                  'min': 1900,
                  'max': 2019
              },
              step: 1,
              // Handles start at ...
              start: [1919, 2000],
              // Display colored bars between handles
              connect: true,
              tooltips: true,
              format: wNumb({
                  decimals: 0
              }),
          });

          var valuesDivs = [
            document.getElementById('range1'),
            document.getElementById('range2'),
          ];
          range.noUiSlider.on('update', function (values, handle) {
            valuesDivs[handle].innerHTML = values[handle];
            document.getElementById('startYear').value = values[0] ;
            document.getElementById('endYear').value = values[1] ;
          });


        </script>

      <button class="btn btn-info" type="submit"> Submit </button>
    </form>



  </div>

  <div class="col-md-8">
    {% block search_results %} {% endblock search_results %}
  </div>
  </div>

{% endblock content %}
